{#
/**
 * @file page_perso.html.twig
 * Default theme implementation to present Page perso data.
 *
 * This template is used when viewing Page perso pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_page_perso()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('page_perso col-md-12') }}>
  {% if content %}
    {# {{- content -}} #}
    <div class="pp-identity col-md-12">
      <h1>{{ content.name }}</h1>
      <div class="col-md-12">{{ content.field_profession }}</div>
      <div class="col-md-3">
        <i class="fa fa-facebook-f fa-2x"></i>
        {{ content.field_facebook }}
      </div>
      <div class="col-md-3">
        <i class="fa fa-twitter fa-2x"></i>
        {{ content.field_twitter }}
      </div>
      <div class="col-md-3">
        <i class="fa fa-linkedin fa-2x"></i>
        {{ content.field_linkedin }}
      </div>
      <div class="col-md-3">
        <i class="fa fa-viadeo fa-2x"></i>
        {{ content.field_viadeo }}
      </div>
    </div>
    <hr />
    <div class="pp-work col-md-12">
      <div class="col-md-6">{{ content.field_research_themes }}</div>
      <div class="col-md-6">{{ content.field_research_project }}</div>
      <div class="col-md-6">{{ content.field_epi_link }}</div>
    </div>
    <div>
      {{ content.hal_publications }}
    </div>
  {% endif %}
</div>
