{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set node_type = node.bundle|clean_class %}

{%
  set classes = [
  node_type,
  node.bundle|clean_class,
  view_mode ? view_mode|clean_class,
  'clearfix'
]
%}
{% set all_board = content.field_board['#items'].getString() %}
{% set list_board = all_board|split(', ') %}
{% set hdr_value = content.field_hdr['#items'].getString() %}
{% set codir = content.field_co_director|render %}
{% set board = content.field_board|render %}

<article{{ attributes.addClass(classes) }}>
  <div class="si-image si-picto-{{ node_type }}">
    <svg width="82" height="70" viewBox="0 0 82 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M40.8781 3.30261C41.7784 3.30261 42.5072 2.56392 42.5072 1.65143C42.5072 0.73893 41.7784 0.000244141 40.8781 0.000244141C39.9778 0.000244141 39.249 0.73893 39.249 1.65143C39.249 2.56392 39.9778 3.30261 40.8781 3.30261Z" fill="#93931F"/>
      <path d="M40.878 52.2939L0 69.5444H81.756L40.878 52.2939Z" fill="#93931F"/>
      <path d="M36.1617 20.6172C36.1617 20.1392 36.3331 19.4657 37.1691 19.4657C38.0051 19.4657 38.1766 20.1392 38.1766 20.6172V27.6781C37.4907 27.7433 36.8262 27.8302 36.1617 27.9388V20.6172ZM39.5056 20.1392C39.5056 19.4657 39.7414 18.5315 40.9204 18.5315C42.0994 18.5315 42.3352 19.4657 42.3352 20.1392V27.5912C41.8636 27.5695 41.392 27.5478 40.9204 27.5478C40.4488 27.5478 39.9772 27.5478 39.5056 27.5912V20.1392ZM43.5784 20.6172C43.5784 20.1392 43.7499 19.4657 44.5859 19.4657C45.4219 19.4657 45.5934 20.1392 45.5934 20.6172V27.9388C44.9289 27.8302 44.2644 27.7433 43.5784 27.6781V20.6172ZM50.0306 36.3686V29.0903L47.4797 26.5918V17.7059L48.723 16.4457C48.5515 16.2502 44.3715 11.5574 42.9568 5.14819H38.6482C37.2978 11.2967 33.3964 15.8591 32.9248 16.4023L34.1896 17.7059V26.5918L31.6387 29.0903V36.3686C20.9208 39.9751 12.9682 49.7301 11.8535 61.5056L39.7628 49.7301L40.8132 49.2956L41.8636 49.7301L69.7729 61.5056C68.6582 49.7301 60.7056 39.9751 49.9877 36.3686" fill="#93931F"/>
    </svg>
  </div>
  <div class="si-info">
    <div>
      <span class="si-type">{{ node_type_text }}</span>
      {% if hdr_value %}<span class="texthdr blue-box">{{ "HDR"|t }}</span>{% endif %}
      <span>{{ content.field_edo_label.0 }}</span>
    </div>
    {{ title_prefix }}
    <h2{{ title_attributes.addClass('si-title') }}>
      {{ label.0 }}
    </h2>
    {{ title_suffix }}
    <div class="si-author">
      <span>{{ content.field_subtitle.0 }}{{ ", sous la direction de "|t }}
      {{ content.field_thesis_supervisor.0}}
      {% if codir %} {{ "and "|t }} {{ content.field_co_director.0}}{% endif %}</span>
    </div>
    {% if board %}
      <div class="board">
        <i class="fa fas fa-users"></i> {{ all_board|join(', ') }}
      </div>
    {% endif %}
    <div class="si-date"><i class="fa fas fa-calendar-day"></i>{{ content.field_viva_date.0 }}</div>
    <div class="si-maps"><i class="fa fas fa-location-dot"></i><span>{{ content.field_event_address.0 }}</span></div>
    <p>{{ content.field_add_to_cal.0 }}</p>
  </div>
</article>
