{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  node.bundle|clean_class,
  view_mode ? view_mode|clean_class,
  'clearfix'
]
%}
{% set all_board = content.field_board['#items'].getString() %}
{% set list_board = all_board|split(', ') %}
{% set hdr_value = content.field_hdr['#items'].getString() %}
{% set codir = content.field_co_director|render %}
{% set board = content.field_board|render %}

<article{{ attributes.addClass(classes) }}>
  <div class="si-image si-picto-{{ node_type }}">
    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title/><path d="M186.6,346.5a5.24,5.24,0,0,0-5.24,5.25v34.12a5.24,5.24,0,0,0,10.48,0V351.75A5.24,5.24,0,0,0,186.6,346.5Z"/><path d="M139.86,346.5a5.25,5.25,0,0,0-5.24,5.25v34.12a5.25,5.25,0,0,0,10.49,0V351.75A5.25,5.25,0,0,0,139.86,346.5Z"/><path d="M279.36,346.5a5.25,5.25,0,0,0-5.25,5.25v34.12a5.25,5.25,0,0,0,10.49,0V351.75A5.25,5.25,0,0,0,279.36,346.5Z"/><path d="M232.62,346.5a5.24,5.24,0,0,0-5.24,5.25v34.12a5.25,5.25,0,0,0,10.49,0V351.75A5.25,5.25,0,0,0,232.62,346.5Z"/><path d="M373.19,325h-1.63a30.17,30.17,0,0,0,7.65-20A30.45,30.45,0,1,0,326,325h-1.62a26.78,26.78,0,0,0-21.95,11.49A26.78,26.78,0,0,0,280.43,325H278.8a30.17,30.17,0,0,0,7.65-20,30.45,30.45,0,0,0-60.9,0,30.17,30.17,0,0,0,7.65,20h-1.63a26.78,26.78,0,0,0-21.95,11.49,26.78,26.78,0,0,0-22-11.49h-1.62a30.46,30.46,0,1,0-45.61,0h-1.63A26.87,26.87,0,0,0,112,351.83v34a5.24,5.24,0,0,0,10.48,0v-34a16.38,16.38,0,0,1,16.35-16.35h48.86A16.37,16.37,0,0,1,204,351.83v34a5.24,5.24,0,0,0,5.25,5.24c.12,0,.23-.06.35-.07s.23.07.36.07a5.24,5.24,0,0,0,5.24-5.24v-34a16.38,16.38,0,0,1,16.35-16.35h48.86a16.38,16.38,0,0,1,16.35,16.35v34a5.24,5.24,0,0,0,5.24,5.24c.13,0,.23-.06.36-.07s.23.07.35.07a5.24,5.24,0,0,0,5.25-5.24v-34a16.37,16.37,0,0,1,16.35-16.35h48.86a16.38,16.38,0,0,1,16.35,16.35v34a5.24,5.24,0,0,0,10.48,0v-34A26.87,26.87,0,0,0,373.19,325ZM143.28,305a20,20,0,1,1,20,20A20,20,0,0,1,143.28,305ZM236,305a20,20,0,1,1,20,20A20,20,0,0,1,236,305Zm92.76,0a20,20,0,1,1,20,20A20,20,0,0,1,328.8,305Z"/><path d="M372.12,346.5a5.25,5.25,0,0,0-5.25,5.25v34.12a5.25,5.25,0,0,0,10.49,0V351.75A5.25,5.25,0,0,0,372.12,346.5Z"/><path d="M325.38,346.5a5.24,5.24,0,0,0-5.24,5.25v34.12a5.24,5.24,0,0,0,10.48,0V351.75A5.24,5.24,0,0,0,325.38,346.5Z"/><path d="M435.78,384.2l-45-133.76a5.25,5.25,0,0,0-5-3.58H311V204a28.63,28.63,0,0,0-28.59-28.59h-2.66a32.5,32.5,0,1,0-47.51,0h-2.65A28.63,28.63,0,0,0,201,204v42.89H126.15a5.25,5.25,0,0,0-5,3.58l-45,133.76a5.25,5.25,0,0,0,3.3,6.64,5.12,5.12,0,0,0,1.67.27,5.25,5.25,0,0,0,5-3.57l43.76-130.19H382.08l43.76,130.19a5.25,5.25,0,0,0,5,3.57,5.12,5.12,0,0,0,1.67-.27A5.25,5.25,0,0,0,435.78,384.2ZM234,153.38a22,22,0,1,1,22,22A22,22,0,0,1,234,153.38ZM211.49,204a18.12,18.12,0,0,1,18.1-18.1h52.82a18.12,18.12,0,0,1,18.1,18.1v42.89h-14v-43a5.24,5.24,0,0,0-10.48,0v43H236v-43a5.24,5.24,0,1,0-10.48,0v43h-14Z"/></svg>
  </div>
  <div class="si-info">
    <div>
      <span class="si-type">{{ node_type_text }}</span>
      {% if hdr_value %}<span class="texthdr blue-box">{{ "HDR"|t }}</span>{% endif %}
      <span>{{ content.field_edo_label.0 }}</span>
    </div>
    {{ title_prefix }}
    <h2{{ title_attributes.addClass('si-title') }}>
      <a href="{{ url }}" rel="bookmark" title="">{{ label.0 }}</a>
    </h2>
    {{ title_suffix }}
    <div class="si-author">
      <span>{{ content.field_subtitle.0 }}{{ ", sous la direction de "|t }}
      {{ content.field_thesis_supervisor.0}}
      {% if codir %} {{ "and "|t }} {{ content.field_co_director.0}}{% endif %}</span>
    </div>
    {% if board %}
      <div class="board">
        <i class="fa fas fa-users"></i> {{ all_board|join(', ') }}
      </div>
    {% endif %}
    <div class="si-date"><i class="fa fas fa-calendar-day"></i>{{ content.field_viva_date.0 }}</div>
    <div class="si-maps"><i class="fa fas fa-location-dot"></i><span>{{ content.field_event_address.0 }}</span></div>
    <p>{{ content.field_add_to_cal.0 }}</p>
    <div class="btn-wrapper">
      <a href="{{ url }}" class="btn btn-primary" title="readmore">{{ "Read more"|t }}</a>
    </div>
  </div>
</article>
