{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
{% if view_display == "Bloc publications" %}
  {{ attach_library('p1ps2019/match_height') }}
{% endif %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if is_listing_page or is_master_view %}
    <div class="view-header-color">
      <div class="grid-container">
        <div class="grid-margin-x">
          <div class="cell small-12">
            <h2 class="title semi-field-sep"> {{ view_title }} </h2>
          </div>
        </div>
      </div>
      {{ exposed }}
    </div>
  {% else %}
    {{ title }}
    {{ exposed }}
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  {{ attachment_before }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}

  {% if pager or archives %}
  <div class="grid-container pager-archives">
    <div>&nbsp;</div>
    {% if pager %}
      {{ pager }}
    {% else %}
      <div>&nbsp;</div>
    {% endif %}
    {% if archives %}
      <a href="{{ path('view.listings.archives') }}" title="{{ "Link to events archives page"|t }}"
         class="bold-link">{{ "Archives"|t }}</a>
    {% else %}
      <div>&nbsp;</div>
    {% endif %}
  </div>
  {% endif %}

  {{ attachment_after }}

  {{ more }}

  {% if footer %}
    <footer class="cell small-12">
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
