<div id="liste-page-perso" class="cell small-12">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="grid-container">
      <div class="pager pager-top">
        {% for letter in 'a'|upper .. 'z'|upper %}
          <span class="letter">
              <a href="{{ path('micro_annuaire_sorbonne.annuaire_controller_list',
                {'letter': letter}
              )}}">{{ letter }}</a>
            </span>
        {% endfor %}
      </div>

      <h3>{{ 'Enseignants-chercheurs'|t }}</h3>
      <hr />
      <div class="annuaire-content mb-5">
        {% if teachers|length < 1 %}
          <h4>{{ "Il n'y a personne à cette lettre dans cet annuaire"|t }}</h4>
        {% else %}
          {% for teacher in teachers %}
            {% if (Trusted and teacher.supannListeRouge == FALSE) or (not Trusted and teacher.sn != 'supannListeRouge') %}
              <div class="annuaire-item">
                <div><b>
                    {% if teacher.labeledURI is empty %}
                      {{ teacher.sn|upper }} {{ teacher.givenName }}
                    {% else %}
                      <a href="{{ teacher.labeledURI[0] }}">
                        {{ teacher.sn|upper }} {{ teacher.givenName }}
                      </a>
                    {% endif %}
                  </b>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      <h3>{{ 'Doctorants'|t }}</h3>
      <hr/>
      <div class="annuaire-content">
        {% if students|length < 1 %}
          <h4>{{ "Il n'y a personne à cette lettre dans cet annuaire"|t }}</h4>
        {% else %}
          {% for student in students %}
            {% if (Trusted and student.supannListeRouge == FALSE) or (not Trusted and student.sn != 'supannListeRouge') %}
              <div class="annuaire-item">
                <div><b>
                    {% if student.labeledURI is empty %}
                      {{ student.sn|upper }} {{ student.givenName }}
                    {% else %}
                      <a href="{{ student.labeledURI[0] }}">
                        {{ student.sn|upper }} {{ student.givenName }}
                      </a>
                    {% endif %}
                  </b>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="pager pager-top">
        {% for letter in 'a'|upper .. 'z'|upper %}
          <span class="letter">
              <a href="{{ path('micro_annuaire_sorbonne.annuaire_controller_list',
                {'letter': letter}
              )}}">{{ letter }}</a>
            </span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
