<div id="trombi" class="cell small-12">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="grid-container">
      <h1>{{ 'Enseignants-Chercheurs'|t }}</h1>
      <div class="annuaire-content mb-5">
        {% if users|length < 1 %}
          <div>{{ "Aucun résultat n'a été trouvé."|t }}</div>
        {% else %}
          {% for user in users %}
            {% if user.labeledURI is not empty and ((Trusted and user.supannListeRouge == FALSE) or
              (not Trusted and user.sn != 'supannListeRouge')) %}
              <article class="trombi-item">
                <a href="{{ user.labeledURI[0] }}"  target="_blank"
                   title="{{ "Page personnelle de"|t }} {{ user.givenName }} {{ user.sn|upper }}">
                  <img src="https://userphoto.univ-paris1.fr/?ldap-test=1&penpalAffiliation=anonymous&uid="
                       alt="{{ user.givenName }} {{ user.sn|upper }}" />
                  <div class="trombi-infos">
                    <h2>{{ user.givenName }} {{ user.sn|upper }}</h2>
                    <p class="trombi-employeetype">{{ user.employeeType[0] }}</p>
                    <p class="trombi-role"> Directeur adjoint - Sciences Sociales (UMR 3646)</p>
                    {# {{ user.supannRoleEntite-all }} #}
                    <p class="trombi-affectation">ED Sciences Économiques{# {{ user.supannEntiteAffectation-all }}  #}</p>
                    <p class="trombi-affectation">PJSE : {# {{ user.supannEntiteAffectation-all }}  #}</p>
                    <ul class="trombi-skills">
                      <li>Trop douée dans ça</li>
                      <li>Et ça aussi</li>
                    </ul>
                    <div class="trombi-apropos">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.
                    </div>
                  </div>
                  <div class="trombi-btn">
                    <div class="faux-btn">{{ "See page"|t }}</div>
                  </div>
                </a>
              </article>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
