{% if affiliation == 'faculty' %}
  {% set category = "Enseignants-Chercheurs" %}
{% else %}
  {% set category = "Doctorants" %}
{% endif %}
<div id="trombi" class="cell small-12">
    <div class="grid-container">
      <h1>{{ category }}</h1>
      <div class="annuaire-content mb-5">
        {% if users|length < 1 %}
          <div>{{ "Aucun résultat n'a été trouvé."|t }}</div>
        {% else %}
          {% for user in users %}
            {% if user.labeledURI is not empty and ((Trusted and user.supannListeRouge == FALSE) or
              (not Trusted and user.sn != 'supannListeRouge')) %}
              <article class="trombi-item">
                <a href="{{ user.labeledURI[0] }}"  target="_blank"
                   title="{{ "Page personnelle de"|t }} {{ user.displayName }}">
                  <img src=" {{ user.photo }} " alt="{{ user.displayName }}" />
                  <div class="trombi-infos">
                    <h2>{{ user.displayName }}</h2>
                    {% if affiliation == 'faculty' %}
                      <p class="trombi-employeetype">{{ user.employeeType[0] }}</p>
                    {% endif %}
                    {% if user.role %}<p class="trombi-role">
                      {{ user.role }}</p>
                    {% endif %}
                    {% if user.doctoralSchool %}<p class="trombi-affectation">
                      {{ user.doctoralSchool | raw }} </p>
                    {% endif %}
                    {% if user.subject %}
                     <p><span>{{ "Subject of thesis: " |t }}</span>{{ user.subject | raw }} </p>
                    {% endif %}
                    {% if user.director %}
                     <p><span>{{ "Director of thesis: " |t }}</span>{{ user.director | raw }} </p>
                    {% endif %}
                    {% if user.research %}<p class="trombi-affectation">
                      {{ user.research | raw }} </p>
                    {% endif %}
                    {% if user.pedagogy %}<p class="trombi-affectation">
                      {{ user.pedagogy }}</p>
                    {% endif %}
                    {% if affiliation == 'faculty' %}
                      {% if user.skills is not empty %}
                        <ul class="trombi-skills">
                          {{ user.skills | raw }}
                        </ul>
                      {% endif %}
                      {% if user.about %}
                        <div class="trombi-apropos">
                          {{ user.about | raw }}
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="trombi-btn">
                    <div class="faux-btn">{{ "See page"|t }}</div>
                  </div>
                </a>
              </article>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
</div>
