{% if affiliation == 'faculty' %}
  {% set category = "Enseignants-Chercheurs" %}
{% else %}
  {% set category = "Doctorants" %}
{% endif %}


{{ trombi_settings }}

<div id="trombi" class="cell small-12">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="grid-container">
      <h3>{{ category|upper }}</h3>
      <hr />
      {% if users|length < 1 %}
        <h4>{{ "Aucun résultat n'a été trouvé."|t }}</h4>
      {% else %}
        <div class="annuaire-content mb-5">
          {% for user in users %}
            {% if user.labeledURI is not empty and ((Trusted and user.supannListeRouge == FALSE) or
              (not Trusted and user.sn != 'supannListeRouge')) %}
              <div class="annuaire-item">
                <b>
                  <a href="{{ user.labeledURI[0] }}"  target="_blank"
                     title="{{ "Page personnelle de"|t }} {{ user.givenName }} {{ user.sn|upper }}">
                    {{ user.sn|upper }} {{ user.givenName }}
                  </a>
                </b>
                <span>
                  {{ user.employeeType|join(', ') }}
                </span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
