{% if affiliation == 'faculty' %}
  {% set category = "Enseignants-Chercheurs" %}
{% else %}
  {% set category = "Doctorants" %}
{% endif %}

<div id="liste-pp-emptyp" class="cell small-12">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="grid-container">
      <div class="pager pager-top">
        {% for letter in 'a'|upper .. 'z'|upper %}
          <span class="letter">
            {% if affiliation == 'faculty' %}
              <a href="{{ path(link,{'letter': letter}) }}">{{ letter }}</a>
              {% else %}
              {% set category = "Doctorants" %}
              <a href="{{ path(link,{'letter': letter}) }}">{{ letter }}</a>
            {% endif %}
          </span>
        {% endfor %}
      </div>

      <h3>{{ category|upper }}</h3>
      <hr />
      {% if users|length < 1 %}
        <h4>{{ "Aucun résultat n'a été trouvé."|t }}</h4>
      {% else %}
        <div class="annuaire-content mb-5">
          {% for user in users %}
            {% if user.labeledURI is not empty and ((Trusted and user.supannListeRouge == FALSE) or (not Trusted and user.sn != 'supannListeRouge')) %}
              <div class="annuaire-item">
                <b>
                  <a href="{{ user.labeledURI[0] }}"  target="_blank"
                     title="{{ "Page personnelle de"|t }} {{ user.givenName }} {{ user.sn|upper }}">
                    {{ user.sn|upper }} {{ user.givenName }}
                  </a>
                </b>
                <span>
                  {{ user.employeeType|join(', ') }}
                </span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="pager pager-top">
        {% for letter in 'a'|upper .. 'z'|upper %}
          <span class="letter">
              {% if affiliation == 'faculty' %}
                <a href="{{ path(link,{'letter': letter}) }}">{{ letter }}</a>
              {% else %}
                <a href="{{ path(link,{'letter': letter}) }}">{{ letter }}</a>
              {% endif %}
            </span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
