{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if is_listing_page or is_master_view %}
    <div class="view-header-color">
      <div class="grid-container">
        <div class="grid-margin-x">
          <div class="cell small-12">
            <h2 class="title semi-field-sep"> {{ view_title }} </h2>
          </div>
        </div>
      </div>
      {{ exposed }}
    </div>
  {% else %}
    {{ title }}
    {{ exposed }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-message grid-container padding-top">
      <header>
        {{ header }}
      </header>
    </div>
  {% endif %}
  {{ attachment_before }}
  {% if rows -%}
    <div class="grid-container padding-top-bottom">
      <div class="grid-x grid-margin-x grid-margin-y">
        {{ rows }}
        <div class="cell small-12 large-3 box-style bg-gold ">
          <div class="box-style txt-center">
            {{ footer }}
          </div>
        </div>
      </div>
    </div>
  {% elseif empty -%}
    <div class="grid-container padding-top-bottom">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    <div>
      {{ pager }}
    </div>
  {% endif %}

  {{ attachment_after }}

  {{ more }}


  {{ feed_icons }}
</div>
