{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  {% set ext = content.field_extension|render %}
  {% if ext matches '/pdf/' %}
    {% set type = "PDF" %}
    {% set faType = "-pdf" %}
  {% elseif ext matches '/word/' %}
    {% set faType = "-word" %}
    {% set type = "Word" %}
  {% elseif ext matches '/excel/' %}
    {% set faType = "-excel" %}
    {% set type = "Excel" %}
  {% elseif ext matches '/powerpoint/' %}
    {% set faType = "-powerpoint" %}
    {% set type = "Powerpoint" %}
  {% else %}
    {% set faType = "" %}
    {% set type = "Fichier" %}
  {% endif %}

  <div class="media-details">
    <i class="fa-regular fa-file{{ faType }}"></i>
    <div><a href="{{ content.field_media_file.0|render }}" target="_blank" title="Lien de téléchargement du fichier" class="mediafichierlien">
        {{ name }} <br/>[{{ type }},&nbsp;{{ content.field_size.0 }}]
    </a></div>
 </div>
{% endif %}
