{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
]
%}
{% set year %}
  {{ content.field_pub_year.0 }}
{% endset %}
{% set subtitle %}
  {{ content.field_subtitle.0 }}
{% endset %}
{% set author %}
  {{ content.field_author_name.0 }}
{% endset %}
{% set publisher_term %}
  {{ content.field_publisher_term }}
{% endset %}
{% set collection_term %}
  {{ content.field_collection_term }}
{% endset %}
{% set topics %}
  {{ content.field_publication_topics }}
{% endset %}
{% set isbn %}
  {{ content.field_isbn.0 }}
{% endset %}
{% set issn %}
  {{ content.field_issn.0 }}
{% endset %}
{% set publicationTags %}
  {{ content.field_tags }}
{% endset %}
{% set date %}
  {{ content.field_publishing_date.0 }}
{% endset %}
{% set price %}
  {{ content.field_price.0 }}
{% endset %}
{% set format %}
  {{ content.field_format.0 }}
{% endset %}
{% set link %}
  {{ content.field_publication_link }}
{% endset %}
{% set purchase %}
  {{ content.field_purchase_link }}
{% endset %}
{% set pages %}
  {{ content.field_nb_pages.0 }}
{% endset %}
{% set link_title %}
  {{ content.field_link_title.0 }}
{% endset %}

<article{{ attributes.addClass(classes) }}>
  <div class="grid-container">
    <div{{ content_attributes.addClass('content grid-x grid-margin-x') }}>
      <div class="cell small-12 large-12">
        {{ title_prefix }}
        <h1 class="h2-style title-sep">
          {{ label.0 }}
        </h1>
        {{ title_suffix }}
        {% if subtitle|striptags|trim %}
          <h2 class=" h4-style infos-sep">{{ subtitle }}</h2>
        {% endif %}
      </div>
      <aside class="cell small large-3">
        {{ content.field_media }}
      </aside>
      <section class="cell small-12 large-5 semi-infos-sep-mobile">
        <div class="txt medium">{{ content.body }}</div>
      </section>
      <aside class="cell small-12 large-4">
        <div class="box-style no-shadow auto-height semi-field-sep">
          <div class="box-content">
            {% if author|striptags|trim or publication_authors %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ "Author(s)"|t }} : </h3>
                {% if publication_authors %}
                  {{ publication_authors|join(', ')|raw }}
                {% endif %}
                {% if  author|striptags|trim and publication_authors %}
                  <span>, </span>
                {% endif %}
                {% if author|striptags|trim %}
                  <span>{{ author }}</span>
                {% endif %}
              </div>
            {% endif %}
            <div class="details txt-second">
              <h3 class="pub-label">{{ 'Type'|t }} : </h3>
              <span>{{ content.field_publication_type.0 }}</span>
            </div>
            {% if year|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ 'Publishing year'|t }} : </h3>
                <span>{{ year }}</span>
              </div>
            {% endif %}
            {% if date|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ 'Publishing date'|t }} : </h3>
                <span>{{ date }}</span>
              </div>
            {% endif %}
            {% if publisher_term|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ "Publisher"|t }} : </h3>
                {% for key, aPublisher in content.field_publisher_term if key|first != '#' %}
                  <span> {{ aPublisher }}</span>
                {% endfor %}
              </div>
            {% endif %}
            {% if collection_term|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ "Collection"|t }} : </h3>
                {% for key, aCollection in content.field_collection_term if key|first != '#' %}
                  <span> {{ aCollection }}</span>
                {% endfor %}
              </div>
            {% endif %}
            {% if isbn|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ "ISBN"|t }} : </h3>
                <span> {{ isbn }}</span>
              </div>
            {% endif %}
            {% if issn|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ "ISSN"|t }} : </h3>
                <span> {{ issn }}</span>
              </div>
            {% endif %}
            {% if pages|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ "Number of pages"|t }} : </h3>
                <span> {{ pages }}</span>
              </div>
            {% endif %}
            {% if format|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label">{{ "Size"|t }} : </h3>
                <span> {{ format }}</span>
              </div>
            {% endif %}
            {% if price|striptags|trim %}
              <div class="details txt-second">
                <h3 class="pub-label"">{{ "Price"|t }} : </h3>
                <span>{{ price }}</span>
              </div>
            {% endif %}
            {% if publicationTags|striptags|trim %}
              <div class="details txt-second">
                {% for key, item in content.field_tags if key|first != '#' %}
                  <div class="categ-style block-title-sep">{{ item }}</div>
                {% endfor %}
              </div>
            {% endif %}
            {% if topics|striptags|trim %}
              <div class="details txt-second">
                {% for key, topic in content.field_publication_topics if key|first != '#' %}
                  <div class="categ-style block-title-sep">{{ topic }}</div>
                {% endfor %}
              </div>
            {% endif %}
            {% if link|striptags|trim %}
              <div class="details txt-second">
                <span class="txt-bold">
                <a class="btn btn-primary" href="{{ content.field_publication_link.0['#url'] }}" title="{{ label.0 }}">
                    {{ "Read this book"|t }}
                </a>
                </span>
              </div>
            {% endif %}
            {% if purchase|striptags|trim %}
              <div class="details txt-second">
                <span class="txt-bold">
                <a class="btn btn-primary" href="{{ content.field_purchase_link.0['#url'] }}" title="{{ label.0 }}">
                    {{ "Buy this book"|t }}
                </a>
                </span>
              </div>
            {% endif %}
          </div>
        </div>
      </aside>
    </div>
  </div>
</article>
