{{ attach_library('micro_publications/publications') }}
<div class="publications-hal">
  {% for key, publication in publications  %}
    <div class="publication-hal">
      <div class="publication-hal-title">
        <h3 class="h5-style">
          <a href="{{ publication.uri }}" {{ publication.title }} target="_blank">{{ publication.title }}</a>
        </h3>
        {% if publication.other_titles is not empty %}
          <em>{{ publication.other_titles }}</em>
        {% endif %}
      </div>
      <div class="publication-hal-authors">
        {{ publication.authors }}
      </div>
      <div class="publication-hal-doctype">
        <span>{{ publication.docType }}</span>
      </div>
    </div>
  {% endfor %}
</div>
