<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 large-10">
            <div class="homepage-search-keywords">
              <div class="hp-search-form">
                {{ search }}
              </div>
              <div class="keywords">
              <span class="keywords-title">{{ "Keywords"|t }}</span>
              {% for keyword in keywords %}
                <a href="{{ url }}{{ keyword }}">{{ keyword }}</a>
              {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>

